{deps, [
    {pvc_types, {git, "https://github.com/ergl/pvc_types.git", {branch, "master"}}}
]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               deprecated_function_calls,
               deprecated_functions]}.

{erl_opts, [debug_info,
            warning_as_errors,
            {platform_define, "^[0-9]+", namespaced_types}]}.

{project_plugins, [rebar3_proper]}.
{profiles, [
    {lint, [{plugins, [
             {rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "v0.1.10"}}}]}]},
    {test, [{erl_opts, [nowarn_export_all]},
            {deps, [proper]}]}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [pvc_model]}
]}.
